# Virtual Environment
backend/venv/
venv/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Node Modules and Build files
node_modules/
**/node_modules/
dist/
build/
.expo/
**/.expo/

# System Files
.DS_Store
Thumbs.db
